<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <% messages.map((message)=>{ %>
      <p><%=message.text%> - <%=message.user%> - <%=message.added.toDateString()%></p>
    <% }) %> 

    <a href="/new">New message</a>
  
  </body>
</html>
